body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background: linear-gradient(to right, #007bff, #0056b3); 
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

nav {
    text-align: center; 
}

nav ul {
    list-style-type: none;
    margin: 0 auto; 
    padding: 0;
    display: inline-block; 
}

nav ul li {
    margin-right: 90px; 
    display: inline; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

#account-info, #login-form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#account-info h2, #login-form h2 {
    margin-top: 0;
}

#account-info table {
    width: 100%;
    border-collapse: collapse;
}

#account-info table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#account-info table td:first-child {
    font-weight: bold;
}

#login-form,
#registration-form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: calc(50% - 10px); /* Set the width of each form */
    box-sizing: border-box; /* Consider padding and border in width */
    float: left; /* Float forms left */
}

#registration-form {
    float: right; /* Float registration form right */
}

#login-form h2,
#registration-form h2 {
    margin-top: 0;
    margin-bottom: 20px; /* Bottom margin for headings */
}

#login-form label,
#registration-form label {
    display: block;
    margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"],
#login-form input[type="submit"],
#registration-form input[type="text"],
#registration-form input[type="password"],
#registration-form input[type="email"],
#registration-form input[type="submit"] {
    width: calc(100% - 20px); /* Consider padding */
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}

#login-form input[type="submit"],
#registration-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%; /* Stretch the button to full width */
}
#logout-button {
    background-color: #dc3545; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none;
    border-radius: 5px; /* Скругление углов */
    padding: 10px 20px; /* Внутренние отступы */
    cursor: pointer;
    position: fixed; /* Позиционирование фиксированное */
    bottom: 20px; /* Отступ от нижнего края */
    right: 20px; /* Отступ от правого края */
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
}

#logout-button:hover {
    background-color: #c82333; /* Изменение цвета при наведении */
}
