/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background: linear-gradient(to right, #007bff, #0056b3); 
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

nav {
    text-align: center; 
}

nav ul {
    list-style-type: none;
    margin: 0 auto; 
    padding: 0;
    display: inline-block; 
}

nav ul li {
    margin-right: 90px; 
    display: inline; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}

.tasks {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    position: relative; 
}

.widget {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px; 
    padding: 100px; 
    transition: background-color 0.3s ease; 
    width: 400px; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tasks-item {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tasks-item h3 {
    margin: 0;
}

.execute-button {
    background-color: #10e722;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    position: relative;
}
h2{
    text-align: center;
}
.execute-button::before {
    content: "\2713";
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.execute-button:hover {
    background-color: #0aa50a;
}


